<ul class="ch-grid" id="clients">
  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/wikijob.png"/>
          </div>

          <div class="ch-info-back">
            <h4>WikiJob Ltd</h4>
            <p>Community platform for student and graduate job seekers in the UK</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/wikifestivals.png"/>
          </div>

          <div class="ch-info-back">
            <h4>WikiFestivals</h4>
            <p>Online community for festival fanatics in the UK and abroad.</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/hscic.png"/>
          </div>

          <div class="ch-info-back">
            <h4>Health & Social Care Information Centre</h4>
            <p>The national provider of information, data and IT systems for health and social care.</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/planetillogica.png"/>
          </div>

          <div class="ch-info-back">
            <h4>Planet Illogica, Inc</h4>
            <p>Self-empowering online artistic community for artists and creative-minded individuals.</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/adyax.png"/>
          </div>

          <div class="ch-info-back">
            <h4>Adyax</h4>
            <p>Agency specializing in all Open Source technologies.</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/naeyc.png"/>
          </div>

          <div class="ch-info-back">
            <h4>Adyax</h4>
            <p>National Association for the Education of Young Children</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/developmentmill.png"/>
          </div>

          <div class="ch-info-back">
            <h4>Development Mill</h4>
            <p>Russian offshore software development provider.</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>

  <li>
    <div class="ch-item">
      <noindex>
        <div class="ch-info">
          <div class="ch-info-front">
            <img class="img-rounded" src="/images/clients/omgtu.png"/>
          </div>

          <div class="ch-info-back">
            <h4>Omsk State Technical University</h4>
            <p>Russian Scientific-technological university.</p>
          </div>
        </div>
      </noindex>
    </div>
  </li>
</ul>
