<div class="row">
  <div class="col-xs-6">
    <a href="https://prague2013.drupal.org" class="thumbnail">
      <div class="caption">
        <h4>DrupalCon Prague <small>2013</small></h4>
      </div>
      <img src="/images/conferences/drupalcon_prague2013.png">
    </a>

    <a href="http://2014.drupalcamplondon.co.uk" class="thumbnail">
      <div class="caption">
        <h4>DrupalCamp London <small>2014</small></h4>
      </div>
      <img src="/images/conferences/drupalcamp_london2014.png">
    </a>

     <a href="http://2014.drupalcamplondon.co.uk" class="thumbnail">
      <div class="caption">
        <h4>JSConf Budapest <small>2016</small></h4>
      </div>
      <img src="/images/conferences/jsconf_budapest2016.png">
    </a>
  </div>

  <div class="col-xs-6">
    <a href="https://amsterdam2014.drupal.org" class="thumbnail">
      <div class="caption">
        <h4>DrupalCon Amsterdam <small>2014</small></h4>
      </div>
      <img src="/images/conferences/drupalcon_amsterdam2014.png">
    </a>

    <a href="https://events.drupal.org/barcelona2015" class="thumbnail">
      <div class="caption">
        <h4>DrupalCon Barcelona <small>2015</small></h4>
      </div>
      <img src="/images/conferences/drupalcon_barcelona2015.png">
    </a>
  </div>
</div>

