- content.each do |course|
  .panel.panel-default
    .panel-body
      .media
        %a.pull-left{href: "#"}
          %img.media-object{src: course[:logo], width: 118}
        .media-body
          %h4.media-heading
            = course[:name]
            %small= course[:course]
          %p= course[:description]
