<% content.each do |course| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <img class="media-object pull-left" src="<%= course[:logo] %>" width="118"/>
        <div class="media-body">
          <h4 class="media-heading">
            <%= course[:name] %>
            <small><%= course[:course] %></small>
          </h4>
          <p><%= course[:description] %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
