<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <img class="media-object pull-left" src="/images/courses/cs169.1x.png" width="118"/>
      <div class="media-body">
        <h4 class="media-heading">
          BerkeleyX
          <small>CS169.1x Software as a Service</small>
        </h4>
        <p>CS169.1x teaches the fundamentals for engineering long-lived software using Agile techniques to develop Software as a Service (SaaS) using Ruby on Rails.</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <img class="media-object pull-left" src="/images/courses/cs169.2x.png" width="118"/>
      <div class="media-body">
        <h4 class="media-heading">
          BerkeleyX
          <small>CS169.2x Software as a Service</small>
        </h4>
        <p>CS169.2x teaches sophisticated SaaS+Agile skills, such as working with legacy code, building on basics from CS169.1x.</p>
      </div>
    </div>
  </div>
</div>
