- content.each do |course|
  .panel.panel-default
    .panel-body
      .media
        %img.media-object.pull-left{src: course[:logo], width: 118}
        .media-body
          %h4.media-heading
            = course[:name]
            %small= course[:course]
          %p= course[:description]
