<ul class="list-inline">
  <% content.each do |item| %>
    <li>
      <a class="label label-primary" href="<%= item[:url] %>" title="<%= item[:overview] %>">
        <%= item[:name] %>
      </a>
    </li>
  <% end %>
</ul>
