<dl class="dl-horizontal">
  <dt>Projects</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="http://getmnpp.org">
          MNPP
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://mrded.github.io/brew-emp/">
          Brew-emp
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://mrded.github.io/theatrecodes/">
          Theatre Codes app
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/mrded/wikijob">
          WikiJob app
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/mrded/pandoc-as-a-service">
          Pandoc As A Service
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/mrded/goPusher">
          goPusher
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://apps.getpebble.com/applications/55f920b3708b83194f000060">
          rulezDate
        </a>
      </li>
    </ul>
  </dd>

  <dt>NPM packages</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://github.com/mrded/is-url-external">
          is-url-external
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/mrded/machine-name">
          machine-name
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/mrded/waterline-nested">
          waterline-nested
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/mrded/word-link">
          word-link
        </a>
      </li>
    </ul>
  </dd>

  <dt>Drupal modules</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="http://drupal.org/project/email_utm">
          Email UTM
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/light_quiz">
          Light Quiz
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/paypal_reports">
          PayPal Reports
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/redislog">
          Redis Logging
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/entity_review">
          Entity Reviews
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/pearwiki_filter">
          Wiki Filter
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/embed_import">
          Embed Import
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/views_random">
          Views Random
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/views_maintenance">
          Views Maintenance
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/advanced_forum_bootstrap">
          Forum Bootstrap
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/registration_stats">
          Registration Stats
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/privatemsg_stats">
          Privatemsg Stats
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/forum_stats">
          Forum Stats
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/stop_spam">
          Stop Spam
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/email_auto_login">
          Auto Login
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://www.drupal.org/project/entity_visits">
          Entity Visits
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/gentle_reminder">
          Gentle Reminder
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/mandrill_inbound">
          Mandrill Inbound
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/hellobar">
          HelloBar
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/blurry">
          Blurry
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/panels_import">
          Panels Import
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/panels_bootstrap_layouts">
          Bootstrap Layouts
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/views_import">
          Views Import
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/views_bootstrap">
          Views Bootstrap
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/views_stapel">
          Views Stapel
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/views_job_board">
          Job Board
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://drupal.org/project/user_relationship_locator">
          Relationship Locator
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://www.drupal.org/project/invite_user_relationships">
          User Relationships
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://www.drupal.org/project/invite_fboauth">
          Invite FBOAuth
        </a>
      </li>
    </ul>
  </dd>

  <dt>Drupal</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="http://cgit.drupalcode.org/drupal/commit/?id=88db8c57bce93f5ddd0b5daa678dcaf0eb622a2f">
          #2067529
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://cgit.drupalcode.org/drupal/commit/?id=43bde68d1a90761babdcb2c61121afba450d7179">
          #1978938
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://cgit.drupalcode.org/drupal/commit/?id=61de49623b158e970bdf7ced18e81aea8682af35">
          #1987572
        </a>
      </li>
      <li>
        <a class="label label-primary" href="http://cgit.drupalcode.org/drupal/commit/?id=61e09de">
          #1763964
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://www.drupal.org/node/516790">
          #516790
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://www.drupal.org/node/516790">
          #516790
        </a>
      </li>
    </ul>
  </dd>

  <dt>Discourse</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://github.com/discourse/discourse/pull/4518">
          #4518
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/discourse/discourse/pull/4517">
          #4517
        </a>
      </li>
      <li>
        <a class="label label-primary" href="https://github.com/discourse/discourse/pull/4515">
          #4515
        </a>
      </li>
    </ul>
  </dd>

  <dt>Waterline</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://github.com/balderdashy/waterline/pull/1445">
          #1445
        </a>
      </li>
    </ul>
  </dd>
  
  <dt>sails-hook-sequelize</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://github.com/KSDaemon/sails-hook-sequelize/pull/36">
          #36
        </a>
      </li>
    </ul>
  </dd>

  <dt>Angular-Addthis</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://github.com/thisissoon/angular-addthis/issues/19">
          #19
        </a>
      </li>
    </ul>
  </dd>

  <dt>Scorched</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://github.com/Wardrop/Scorched/pull/11">
          #11
        </a>
      </li>
    </ul>
  </dd>
  
  <dt>Visual Studio Code</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="https://marketplace.visualstudio.com/items?itemName=mrded.railscasts">
          RailsCasts Template
        </a>
      </li>
    </ul>
  </dd>
  
  <dt>Pebble</dt>
  <dd>
    <ul class="list-inline">
      <li>
        <a class="label label-primary" href="apps.getpebble.com/en_US/application/55f920b3708b83194f000060">
          rulezDate Watchface
        </a>
      </li>
    </ul>
  </dd>
</dl>
