<% content.each do |skill| %>
  <div class="col col-lg-2 col-md-2">
    <h4>
      <%= skill[:name] %>
    </h4>
    <% skill[:expert].each do |item| %>
      <span class="label expert">
        <%= item %>
      </span>
    <% end %>
    <% skill[:widely].each do |item| %>
      <span class="label widely">
        <%= item %>
      </span>
    <% end %>
    <% skill[:familiar].each do |item| %>
      <span class="label familiar">
        <%= item %>
      </span>
    <% end %>
  </div>
<% end %>
