- content.each do |skill|
  .span2
    %h4= skill[:name]
    - skill[:expert].each do |item|
      %span.label.expert= item

    - skill[:widely].each do |item|
      %span.label.widely= item

    - skill[:familiar].each do |item|
      %span.label.familiar= item
