.panel.panel-default
  .panel-body
    %p.lead Or you can always keep tabs on me by using a gluttonous variety of Social Media.

    %hr

    %ul.list-inline.text-center.social
      %li
        %a{target: "_blank", title:"Facebook", href: 'http://facebook.com/mrded'}
          %i.fa.fa-facebook.fa-3x
      %li
        %a{target: "_blank", title:"Twitter", href: 'http://twitter.com/demenchuk'}
          %i.fa.fa-twitter.fa-3x
      %li
        %a{target: "_blank", title:"Linkedin", href: 'http://linkedin.com/in/mrded'}
          %i.fa.fa-linkedin.fa-3x
      %li
        %a{target: "_blank", title:"Stack Overflow", href:'http://stackoverflow.com/users/1264409'}
          %i.fa.fa-stack-overflow.fa-3x
      %li
        %a{target: "_blank", title:"Drupal", href: 'http://drupal.org/user/556088'}
          %i.fa.fa-tint.fa-3x
      %li
        %a{target: "_blank", title:"GitHub", href: 'https://github.com/mrded'}
          %i.fa.fa-github-alt.fa-3x
      %li
        %a{target: "_blank", title:"Habrahabr", href: 'http://habrahabr.ru/users/mrded/'}
          %i.fa.fa-h-square.fa-3x
      %li
        %a{target: "_blank", title:"Skype", href: 'skype:mr.ded?userinfo'}
          %i.fa.fa-skype.fa-3x
