<div class="panel panel-default">
  <div class="panel-body">
    <p class="lead">You can always keep tabs on me by using a gluttonous variety of Social Media.</p>
    <hr/>
    <ul class="list-inline text-center social">
      <li>
        <a href="http://facebook.com/mrded" target="_blank" title="Facebook">
          <i class="fa fa-facebook fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/demenchuk" target="_blank" title="Twitter">
          <i class="fa fa-twitter fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://linkedin.com/in/mrded" target="_blank" title="Linkedin">
          <i class="fa fa-linkedin fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://stackoverflow.com/users/1264409" target="_blank" title="Stack Overflow">
          <i class="fa fa-stack-overflow fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://drupal.org/user/556088" target="_blank" title="Drupal">
          <i class="fa fa-drupal fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/mrded" target="_blank" title="GitHub">
          <i class="fa fa-github-alt fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://habrahabr.ru/users/mrded/" target="_blank" title="Habrahabr">
          <i class="fa fa-h-square fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="skype:mr.ded?userinfo" target="_blank" title="Skype">
          <i class="fa fa-skype fa-3x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
