/ Bootstrap
%link{:href => "/vendor/bootstrap/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/

/ Custom
%link{:href => "/stylesheets/blog.css", :rel => "stylesheet"}
%link{:href => "/stylesheets/projects.css", :rel => "stylesheet"}
%link{:href => "/stylesheets/main.css", :rel => "stylesheet"}

%link{:href => "/vendor/bootstrap/css/prettify.css", :rel => "stylesheet"}
