%link{:href => "/stylesheets/blog.css", :rel => "stylesheet"}
%link{:href => "/stylesheets/contact.css", :rel => "stylesheet"}
%link{:href => "/stylesheets/projects.css", :rel => "stylesheet"}
%link{:href => "/stylesheets/main.css", :rel => "stylesheet"}
