.row
  .col.col-lg-4
    %h3 Drupal
    I started from Drupal 5 and currently I have a few patches in the core, and several contributed modules.

  .col.col-lg-4
    %h3 Rails
    Sed augue ligula, porta sit amet eleifend sit amet, gravida in felis. Aliquam mi nibh, accumsan quis tristique a, feugiat vel enim. Aenean tempus hendrerit quam, et mattis neque adipiscing quis.

  .col.col-lg-4
    %h3 Linux
    Mauris enim arcu, dictum in ullamcorper non, pulvinar id nibh. Duis in felis nisi. Aliquam erat volutpat. Donec vulputate sodales metus sit amet adipiscing.
