.row
  .col.col-lg-4.col-md-4
    %h3 Drupal
    I started from Drupal 5 and currently I have a few patches in the core, and several contributed modules.

  .col.col-lg-4.col-md-4
    %h3 Rails
    It's just my hobby, however I believe what it will become to my main tool.

  .col.col-lg-4.col-md-4
    %h3 GNU/Linux
    GNU/Linux has changed me once and for all. Duis gravida quam erat, sed imperdiet enim blandit eu. Suspendisse potenti.
