<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Dmitry Demenchuk \ Web Developer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <!-- Vendors -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet"></link>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>

    <link href="/stylesheets/contact.css" rel="stylesheet"></link>
    <link href="/stylesheets/projects.css" rel="stylesheet"></link>
    <link href="/stylesheets/main.css" rel="stylesheet"></link>

    <%= render 'partials/googleanalytics'.to_sym %>
  </head>

  <body onload="prettyPrint()">
    <%= render 'partials/forkme'.to_sym %>

    <div class="container">
      <div class="page-header">
        <h1><a href="/">Dmitry Demenchuk</a> <small>\ Web Developer</small></h1>
      </div>

      <%= yield %>

      <hr/>

      <footer class="footer">
        <a href="http://demenchuk.me">
          <img src="/images/signature.png"/>
        </a>
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
