!!!
%html
  %head
    %title Dmitry Demenchuk \ Web Developer
    %script{:src => "/vendor/jquery-1.9.1.min.js", :type => "text/javascript"}
    %script{:src => "/vendor/bootstrap/js/bootstrap.min.js"}
    %link{:href => "/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/vendor/bootstrap/css/bootstrap-responsive.min.css", :rel => "stylesheet"}

    %link{:href => "/vendor/bootstrap/css/prettify.css", :rel => "stylesheet"}
    %script{:src => "/vendor/bootstrap/js/prettify.js"}

    %link{:href => "/stylesheets/projects.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet"}

    %link{:href => "/stylesheets/blog.css", :rel => "stylesheet"}

    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1.0"}

    = render 'partials/googleanalytics'.to_sym
  %body{onload: "prettyPrint()"}
    = render 'partials/forkme'.to_sym
    .container
      .page-header
        %h1
          %a{href:'/'} Dmitry Demenchuk
          =render 'partials/navigation'.to_sym

      .container-fluid= yield

      %hr
      %footer.footer
        .row-fluid
          .span6
            %a{:href => 'http://demenchuk.me'}
              %img{:src => "/images/signature.png"}

          .social.span6= render 'partials/social'.to_sym
