%ul.cbp_tmtimeline
  - content.each do |post|
    %li
      %time.cbp_tmtime{:datetime => post[:datetime]}
        %span= post[:date]
        %span= post[:time]
      .cbp_tmicon
      .cbp_tmlabel= post[:body]
