%ul.cbp_tmtimeline
  %li
    %time.cbp_tmtime{:datetime => "2013-04-10 18:30"}
      %span 4/10/13
      %span 18:30
    .cbp_tmicon
    .cbp_tmlabel
      %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
      %p Quisque scelerisque semper mi a fringilla. Duis sed mi libero. In dignissim diam erat, ut congue quam. Quisque justo justo, imperdiet in tempus eget, vestibulum nec dui. Vestibulum tristique elementum nulla, sed gravida lorem molestie vitae. Sed erat mauris, ornare quis tempor sed, pellentesque sed diam. Cras rutrum aliquet tempor. Suspendisse venenatis venenatis sem, eget condimentum odio pharetra ac. Sed ac ipsum ut neque faucibus volutpat.
  %li
    %time.cbp_tmtime{:datetime => "2013-04-11T12:04"}
      %span 4/11/13
      %span 12:04
    .cbp_tmicon
    .cbp_tmlabel
      %h2 Fusce ac ligula ut justo hendrerit placerat
      %p Suspendisse ut enim dui. Curabitur vel tortor magna, accumsan convallis enim. Pellentesque sit amet dui eu magna condimentum congue eu eu erat. Morbi vel turpis mi, et euismod enim. Mauris eget placerat erat. Aenean ut est mauris. Cras purus augue, pharetra a placerat in, molestie et nisl. Ut sodales nisl vitae magna dignissim in venenatis nisl euismod. Quisque vestibulum semper interdum. Pellentesque condimentum porttitor justo sed ultrices. Mauris imperdiet augue ac nibh consectetur pretium. Donec ac leo non lacus blandit ullamcorper. Quisque nec lectus et est porta pretium. Quisque placerat pretium mi, tincidunt pulvinar metus egestas in.
  %li
    %time.cbp_tmtime{:datetime => "2013-04-13 05:36"}
      %span 4/13/13
      %span 05:36
    .cbp_tmicon
    .cbp_tmlabel
      %h2 Nullam sagittis lacus vel nibh ultricies ullamcorper
      %p Cras tincidunt egestas rhoncus. Curabitur tortor ante, scelerisque id bibendum ultricies, mattis eget mauris. Aliquam erat volutpat. Donec ullamcorper suscipit tincidunt. Aliquam neque lectus, feugiat in commodo eget, interdum venenatis orci. Donec eget arcu dolor, a dapibus purus. In hac habitasse platea dictumst. Sed nec nisi eu tortor laoreet dictum a sed neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc felis, blandit vel ultrices id, pharetra at ipsum.
  %li
    %time.cbp_tmtime{:datetime => "2013-04-15 13:15"}
      %span 4/15/13
      %span 13:15
    .cbp_tmicon
    .cbp_tmlabel
      %h2 Sed pellentesque dolor tempus nisl luctus eget rutrum nunc aliquet
      %p Sed eget eros sem, ac egestas nisl. Etiam nulla libero, lobortis eu volutpat ac, porta sed est. Sed non urna sed massa viverra aliquet sit amet quis lectus. Praesent vel enim eget massa malesuada pulvinar. Etiam ut metus quis tellus blandit rhoncus ut at dui. Maecenas eros ligula, ornare vel cursus congue, tempus a metus.
  %li
    %time.cbp_tmtime{:datetime => "2013-04-16 21:30"}
      %span 4/16/13
      %span 21:30
    .cbp_tmicon
    .cbp_tmlabel
      %h2 Cras tempor porttitor suscipit
      %p Suspendisse potenti. Donec vel porttitor mauris. Duis scelerisque dictum dui, nec aliquet felis varius quis. Donec ut est nec tellus pretium bibendum a ut odio. Curabitur sodales lacinia dui, ut suscipit sem dictum nec. Quisque nec est elit. Suspendisse at tincidunt nisl. Curabitur nisl eros, dictum dictum interdum ut, congue quis arcu. Suspendisse potenti. Quisque massa odio, porta sit amet faucibus et, convallis nec eros. Maecenas commodo sollicitudin leo ut ultrices. Integer ac est lectus, ac ornare neque.

