%ul.cbp_tmtimeline
  - content.each do |post|
    %li
      %time.cbp_tmtime{ datetime: post[:time].strftime("%Y-%m-%d %H:%M") }
        %span= post[:time].strftime("%Y")
        %span= post[:time].strftime("%d %b")
      %a.cbp_tmicon{href: '/blog/' + post[:filename]} #
      .cbp_tmlabel= post[:body]
