.row
  #about.col.col-lg-2.col-md-2.col-sm-3
    %img.img-thumbnail{:src => "/images/demenchuk.jpg"}

  .col.col-lg-10.col-md-10.col-sm-9.panel
    .panel-body
      %p Over the last 5 years, I have developed a wide range of large web projects based on PHP and Drupal, Ruby and Rails. Due to the size of projects I became familiar with Varnish and various technologies that helps to scale web applications.
      %p For me it’s very significant to keep my code clean, readable, well structured and always under source control. I also follow best practices and adhere to principles such as a TDD/BDD, DRY, KISS and so on.
      %p I believe in common sense and systematic approach.

%h3 Open Source Projects
.row
  .col.col-lg-10
    - Demenchuk::OPEN_SOURCE.keys.each do |key|
      .col.col-lg-6.col-md-6.col-sm-6= render :'partials/opensource', locals: { content: Demenchuk::OPEN_SOURCE[key] }
  .col.col-lg-2.visible-lg
    %blockquote
      %small I am involved in Open Source projects, I love to contribute completed solutions and grow them separately with the help of quality feedbacks from another specialists.

%h3 Worked For/With
.row
  .col.col-lg-2.visible-lg
    %blockquote.pull-right
      %small Donec aliquet dictum facilisis. Pellentesque diam urna, vehicula eu vehicula eget, pretium vel libero. Pellentesque ornare eleifend magna, a consectetur nisl bibendum sit amet.

  .col.col-lg-10.col-md-12= render :'partials/clients', locals: { content: Demenchuk::CLIENTS }

.row
  .col.col-lg-6.col-md-6
    %h3 Courses
    = render :'partials/courses', locals: { content: Demenchuk::COURSES }

  .col.col-lg-6.col-md-6
    %h3 Conferences
    = render :'partials/courses', locals: { content: Demenchuk::CONFERENCES }

