%a.label.odesk{href: 'https://www.odesk.com/users/~01892e3b0f01fc71e2'} Odesk
%a.label.drupal{href: 'http://drupal.org/user/556088'} Drupal
%a.label.github{href: 'https://github.com/mrded'} GitHub
%a.label.linkedin{href: 'http://linkedin.com/in/mrded'} Linkedin
%a.label.habrahabr{href: 'http://habrahabr.ru/users/mrded/'} Habrahabr
%a.label.forrst{href: 'https://forrst.com/people/mrded'} Forrst
%a.label.twitter{href: 'http://twitter.com/demenchuk'} Twitter
%a.label.facebook{href: 'http://facebook.com/mrded'} Facebook
