.row-fluid
  .span4
    %h3 Drupal
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget ullamcorper erat. Fusce nec convallis sapien. Sed in luctus arcu. Duis vehicula laoreet tortor, ac tempus velit aliquam at.

  .span4
    %h3 Rails
    Sed augue ligula, porta sit amet eleifend sit amet, gravida in felis. Aliquam mi nibh, accumsan quis tristique a, feugiat vel enim. Aenean tempus hendrerit quam, et mattis neque adipiscing quis.

  .span4
    %h3 Linux
    Mauris enim arcu, dictum in ullamcorper non, pulvinar id nibh. Duis in felis nisi. Aliquam erat volutpat. Donec vulputate sodales metus sit amet adipiscing.
