<h2>Deploy Drupal to Pantheon</h2>
<p>Move all your DB settings to separated file, for example private.settings.php and add it to .gitignore.</p>

<pre class="prettyprint linenums languague-php">
$databases = array (
  'default' => array (
    'default' => array (
      'database' => 'drupal',
      'username' => 'root',
      'password' => 'root',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);
</pre>

<p>Then add follow code instead $databases = array() and commit it to repo.</p>
<pre class="prettyprint linenums languague-php">
if (!isset($_SERVER['PANTHEON_ENVIRONMENT'])) {
  include_once 'private.settings.php';
}
else {
  extract(json_decode($_SERVER['PRESSFLOW_SETTINGS'], TRUE));
}
</pre>
